<!DOCTYPE html>
<html>
<head>
    <title>再见！我的2017 - 2017年终总结，给未来的自己</title>
    #include("./_includes/metas.html")
</head>
<body class="emoji-container">
#include("./_includes/icons.html")
#include("./_includes/nav.html")
#include("./_includes/header.html")

<main class="wrap">
    <div class="mdui-container">
        <div class="row mdui-center mdui-text-center">
            <h1>我tm要写什么让这群沙雕看呢？</h1>
        </div>
        <div>
            <link rel="stylesheet" href="https://obbuo9upd.qnssl.com/gitalk/gitalk.css">
            <script src="https://obbuo9upd.qnssl.com/gitalk/gitalk.min.js"></script>
            <div id="gitalk-container" style="margin: 0 auto; width: 80%; padding-bottom: 20px;"></div>
            <script>
                var gitalk = new Gitalk({
                    clientID: '',
                    clientSecret: '',
                    repo: '',
                    owner: '',
                    admin: [''],
                    distractionFreeMode: true
                });
                gitalk.render('gitalk-container');
            </script>
        </div>
    </div>
</main>
#include("./_includes/footer.html")
</body>
</html>