<!DOCTYPE html>
<html>
<head>
    <title>再见！我的2017 - 2017年终总结，给未来的自己</title>
    #include("./_includes/metas.html")
</head>
<body class="emoji-container">
#include("./_includes/icons.html")
#include("./_includes/nav.html")
#include("./_includes/header.html")

<main class="wrap">
    <div class="mdui-container">
        <div class="mdui-col-xs-12" style="text-align: center; margin: 0 auto;">
            <h1>全部统计</h1>
            <a href="javascript:void(0);"><img src="/static/img/wordcloud/topics.png"/></a>
        </div>
        <div class="mdui-col-xs-12" style="text-align: center; margin: 0 auto;">
            <h1>感情主题</h1>
            <a href="javascript:void(0);"><img src="/static/img/wordcloud/feeling.png"/></a>
        </div>
        <div class="mdui-col-xs-12" style="text-align: center; margin: 0 auto;">
            <h1>读书主题</h1>
            <a href="javascript:void(0);"><img src="/static/img/wordcloud/book.png"/></a>
        </div>
        <div class="mdui-col-xs-12" style="text-align: center; margin: 0 auto;">
            <h1>音乐主题</h1>
            <a href="javascript:void(0);"><img src="/static/img/wordcloud/music.png"/></a>
        </div>
        <div class="mdui-col-xs-12" style="text-align: center; margin: 0 auto;">
            <h1>技术主题</h1>
            <a href="javascript:void(0);"><img src="/static/img/wordcloud/technology.png"/></a>
        </div>
        <div class="mdui-col-xs-12" style="text-align: center; margin: 0 auto;">
            <h1>工作主题</h1>
            <a href="javascript:void(0);"><img src="/static/img/wordcloud/job.png"/></a>
        </div>
        <div class="mdui-col-xs-12" style="text-align: center; margin: 0 auto;">
            <h1>身体健康</h1>
            <a href="javascript:void(0);"><img src="/static/img/wordcloud/health.png"/></a>
        </div>
        <div class="mdui-col-xs-12" style="text-align: center; margin: 0 auto;">
            <h1>2018展望</h1>
            <a href="javascript:void(0);"><img src="/static/img/wordcloud/outlook.png"/></a>
        </div>
    </div>

</main>

#include("./_includes/footer.html")

</body>
</html>