<footer class="footer">
    <div class="wrap">
        <div class="row middle-xs">
            <div class="col-sm-6 made-with-love">
                <h3>Made with
                    <svg class="icon icon-heart">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
                    </svg>
                    by
                    <a href="https://github.com/biezhi" target="_blank"> biezhi</a> &
                    <a href="https://github.com/lets-blade/blade" target="_blank"> Blade</a>
                </h3>
            </div>
            <div class="col-sm-6 footer-nav">
                <nav>
                    <a href="/about">关于</a>
                    <a href="/show">统计</a>
                    <a href="https://github.com/biezhi">GitHub</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="${cdn}/static/js/vue.min.js"></script>
<script type="text/javascript" src="${cdn}/static/js/axios.min.js"></script>
<script type="text/javascript" src="${cdn}/static/js/sisyphus.min.js"></script>
<script type="text/javascript" src="${cdn}/static/mdui-v0.3.0/js/mdui.min.js"></script>
<script type="text/javascript" src="${cdn}/static/js/cplayer.min.js"></script>
<script type="text/javascript" src="${cdn}/static/js/music.js?v=${version}"></script>