<meta name="author" content="biezhi">
<meta name="description" content="再见我的2017，写给未来的自己">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="bye2017">
<meta name="twitter:description" content="再见我的2017，写给未来的自己">
<meta name="twitter:url" content="https://2017.biezhi.me">
<meta property="og:title" content="再见我的2017，写给未来的自己">
<meta name="og:description" content="再见我的2017，写给未来的自己">
<meta name="og:url" content="https://2017.biezhi.me">
<meta name="robots" content="index, follow">
<meta name="msapplication-TileColor" content="#FFDD67">
<meta name="theme-color" content="#FFDD67">

<link rel="stylesheet" href="${cdn}/static/css/hint.min.css"/>
<link rel="stylesheet" href="${cdn}/static/mdui-v0.3.0/css/mdui.min.css"/>
#if(isDev)
<link rel="stylesheet" href="/static/css/main.css?v=${version}"/>
#else
<link rel="stylesheet" href="${cdn}/static/css/main.min.css?v=${version}"/>
#end
<script type="text/javascript" src="${cdn}/static/js/jquery.min.js"></script>