<nav class="nav row middle-xs"><input class="c-hamburger__input" id="hamburger-menu" type="checkbox">
    <label class="c-hamburger c-hamburger--htx" for="hamburger-menu">
        <span></span>
    </label>
    <div class="modal">
        <div class="modal-content">
            <ul class="navigation">
                <li class="item"><a href="/show">统计</a></li>
                <li class="item"><a href="/share">分享</a></li>
                <li class="item"><a href="/about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>